.App {
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  margin: 0;
}
.header{
  background-color: #192a56;
  padding: 14px;
  color: antiquewhite;
  width: 100%;
}
.form{
  margin-top: 15px;
}
.data{
  margin-top: 14px;
  flex-direction: column;
  align-items: center;
  margin-top: 14px;
  width: 100%;
}
.data-val{
  display: flex;
  justify-content: space-between;
  width: 50%;
  background-color: rgb(203, 195, 195);
}